<!DOCTYPE html>
<html lang="en">
    <%- include('head') -%>
<body>
    <%- include('navbar') -%>
    <div class="container">
        <h1>Here are your nearest airports and distances to them</h1>
        <h5>Nearest airport to pickup:<%= airport1 %></h5>
        <p>There are <%= distance1 %> km to the airport, amounting to a price of x</p>
        <h5>Nearest airport to destination:<%= airport2 %></h5>
        <p>There are <%= distance2 %> km to the airport, amounting to a price of x</p>
        
    </div>
    <%- include('footer') -%>
</body>
</html>