<!DOCTYPE html>
<html lang="en">
    <%- include('head') -%>
<body>
    <%- include('navbar') -%>
    <div class="container">
        <h1>Here is a presentation of your order</h1>
        <h5>Chargeable weight:<%= cw %></h5>
        <h5>Airfreight charge:<%= airfreight %></h5>
        <h5>Total price:<%= total %></h5>


    </div>
    <%- include('footer') -%>

</body>
</html>